---
import Layout from "../../layouts/Layout.astro";
import PageBanner from "../../components/PageBanner.tsx";
---

<Layout title="Events | Choctaw Indian Fair">
  <div class="bg-animate h-full p-4">
    <div class="mx-auto max-w-7xl">
      <PageBanner
        desktop="banner01"
        mobile="banner02"
        alt="Competitions"
        client:load
      />
      <h2
        class="font-roboto py-8 text-center text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-5xl sm:tracking-tight"
      >
        2025 Competitions Coming Soon!
      </h2>
    </div>
  </div>
</Layout>
