---
import { Card } from "../ui/card";
import { Calendar, Clock } from "lucide-react";
import UiCard from "../brackets/Card.astro";
---

<div
  class="flex h-full overflow-x-scroll lg:justify-center lg:overflow-x-hidden"
>
  <div class="item">
    <div class="item-parent">
      <UiCard
        gameNumber={12}
        matchNumber={15}
        gameDate="Sat 7/12"
        gameTime="10:00 PM"
        team1="Bók Čito"
        team2="Koni Hata"
      />
    </div>
    <div class="item-childrens">
      <div class="item-child">
        <div class="item">
          <div class="item-parent">
            <UiCard
              gameNumber={10}
              matchNumber={13}
              gameDate="Wed 7/9"
              gameTime="10:00 PM"
              team1="Unified"
              team1Score={0}
              team2="Bók Čito"
              team2Score={4}
            />
          </div>
          <div class="item-childrens">
            <div class="item-child">
              <div class="item">
                <div class="item-parent">
                  <UiCard
                    gameNumber={6}
                    matchNumber={9}
                    gameDate="Mon 7/7"
                    gameTime="09:00 PM"
                    team1="Tucker"
                    team1Score={2}
                    team2="Unified"
                    team2Score={7}
                  />
                </div>
                <div class="item-childrens">
                  <div class="item-child bye-week after:invisible">
                    <UiCard matchNumber={1} invisible />
                  </div>
                  <div class="item-child after:!h-[calc(50%+11px)]">
                    <UiCard
                      gameNumber={1}
                      matchNumber={2}
                      gameDate="Tue 7/1"
                      gameTime="10:00 PM"
                      team1="Unified"
                      team1Score={8}
                      team2="Chikásha Tóli"
                      team2Score={1}
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="item-child">
              <div class="item">
                <div class="item-parent">
                  <UiCard
                    gameNumber={7}
                    matchNumber={10}
                    gameDate="Mon 7/7"
                    gameTime="10:30 PM"
                    team1="Pearl River"
                    team1Score={0}
                    team2="Bók Čito"
                    team2Score={3}
                  />
                </div>
                <div class="item-childrens">
                  <div class="item-child after:!h-[calc(50%+11px)]">
                    <UiCard
                      gameNumber={2}
                      matchNumber={3}
                      gameDate="Wed 7/2"
                      gameTime="10:00 PM"
                      team1="Pearl River"
                      team1Score={8}
                      team2="Nanih Waiya"
                      team2Score={1}
                    />
                  </div>
                  <div class="item-child">
                    <UiCard
                      gameNumber={3}
                      matchNumber={4}
                      gameDate="Thu 7/3"
                      gameTime="10:00 PM"
                      team1="Bók Čito"
                      team1Score={9}
                      team2="Tiak Hikíya"
                      team2Score={0}
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item-child">
        <div class="item">
          <div class="item-parent">
            <UiCard
              gameNumber={11}
              matchNumber={14}
              gameDate="Thu 7/10"
              gameTime="10:00 PM"
              team1="Oka Homma"
              team1Score={0}
              team2="Koni Hata"
              team2Score={2}
            />
          </div>
          <div class="item-childrens">
            <div class="item-child">
              <div class="item">
                <div class="item-parent">
                  <UiCard
                    gameNumber={8}
                    matchNumber={10}
                    gameDate="Tue 7/8"
                    gameTime="09:00 PM"
                    team1="War Party"
                    team1Score={0}
                    team2="Oka Homma"
                    team2Score={8}
                  />
                </div>
                <div class="item-childrens">
                  <div class="item-child bye-week after:invisible">
                    <UiCard matchNumber={5} invisible />
                  </div>
                  <div class="item-child after:!h-[calc(50%+11px)]">
                    <UiCard
                      gameNumber={4}
                      matchNumber={6}
                      gameDate="Sat 7/5"
                      gameTime="09:00 PM"
                      team1="Warriors"
                      team1Score={2}
                      team2="Oka Homma"
                      team2Score={4}
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="item-child">
              <div class="item">
                <div class="item-parent">
                  <UiCard
                    gameNumber={9}
                    matchNumber={12}
                    gameDate="Tue 7/8"
                    gameTime="10:30 PM"
                    team1="Beaver Dam"
                    team1Score={1}
                    team2="Koni Hata"
                    team2Score={4}
                  />
                </div>
                <div class="item-childrens">
                  <div class="item-child bye-week after:invisible">
                    <UiCard matchNumber={7} invisible />
                  </div>
                  <div class="item-child after:!h-[calc(50%+11px)]">
                    <UiCard
                      gameNumber={5}
                      matchNumber={8}
                      gameDate="Sat 7/5"
                      gameTime="10:30 PM"
                      team1="Tvshkahomma"
                      team1Score={2}
                      team2="Koni Hata"
                      team2Score={5}
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
