@import "tailwindcss";

:root {
  --fair-blue: #7391c8;
  --fair-green: #89a06b;
  --fair-pink: #d19c97;
  --fair-purple: #a893bd;
  --fair-brown: #a37762;
  --fair-gray: #a69a8a;
  --fair-red: #da2e36;
  --fair-gold: #b3a369;
}

@keyframes colorChange {
  0% {
    background-color: var(--fair-blue);
  }
  25% {
    background-color: var(--fair-green);
  }
  50% {
    background-color: var(--fair-pink);
  }
  75% {
    background-color: var(--fair-purple);
  }
  100% {
    background-color: var(--fair-blue);
  }
}
.bg-animate {
  animation: colorChange 5s infinite;
}
