---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Page Not Found">
   <div
  class="w-screen h-[calc(100vh-96px)] bg-animate flex items-center justify-center p-4"
>
        <div class="text-center">
          <p class="text-base font-semibold text-white">404</p>
          <h1 class="mt-4 text-balance text-5xl font-semibold tracking-tight text-white sm:text-7xl">
            Page not found
          </h1>
          <p class="mt-6 text-pretty text-lg font-medium text-white sm:text-xl/8">
            Sorry, we couldn’t find the page you’re looking for.
          </p>
          <div class="mt-10 flex items-center justify-center">
            <a
              href="/cif-2025"
              class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-gray-200 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-200"
            >
              Go back home
            </a>
          </div>
        </div>
      </div>
</Layout>
