---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Choctaw Indian Fair">
  <div class="absolute top-0 left-0 w-full h-full bg-animate z-[-1]">
    <div class="flex items-center justify-center w-full h-full">
      <div class="flex flex-col">
        <h1 class="text-7xl font-bold text-center mb-12 text-white">
          SAVE THE DATE
        </h1>
        <img
          src="/cif-2025/fairlogo.png"
          alt="Logo"
          class="w-128 h-auto mx-auto"
        />
      </div>
    </div>
  </div>
</Layout>
