---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Choctaw Indian Fair">
  <div class="absolute top-0 left-0 w-full h-full bg-red-600 z-[-1]">
    <div class="flex items-center justify-center w-full h-full">
      <img src="/cif-2025/favicon.svg" alt="Logo" class="w-32 h-32" />
    </div>
  </div>
</Layout>
