---
import Layout from "@/layouts/main.astro";
import { Skeleton } from "@/components/ui/skeleton";

interface EventProps {
  id?: string;
  title?: string;
  image: string;
  order?: string;
  alt?: string;
  text?: string;
  polaroid?: boolean;
}

const featuredEvents = [
  {
    polaroid: true,
    image: "/princess01.webp",
    alt: "Choctaw Indian Princess Pageant",
    order: "order-2 lg:order-1 lg:-rotate-6",
  },
  {
    image: "/cipp.webp",
    alt: "Choctaw Indian Princess Pageant",
    order: "order-1 lg:order-2 col-span-1 sm:col-span-2 lg:col-span-1",
  },
  {
    polaroid: true,
    image: "/princess02.webp",
    alt: "Choctaw Indian Princess Pageant",
    order: "order-3 lg:order-3 lg:rotate-6",
  },
];
---

<Layout title="Pageant">
  <div
    class="flex min-h-screen flex-col bg-gradient-to-r from-purple-800 via-purple-500 to-indigo-950"
  >
    {/* Hero Section */}
    <section class="relative flex w-full items-center justify-center">
      <div class="absolute inset-0 z-0">
        <img
          src="/backdrops/pageant-backdrop.svg"
          alt="Stickball background"
          class="absolute inset-0 h-full w-full object-cover brightness-50"
        />
      </div>
      <div class="container relative z-20 mx-auto px-4">
        <div
          class="mx-auto grid max-w-5xl grid-cols-1 gap-12 rounded-lg py-12 sm:grid-cols-2 sm:gap-8 lg:grid-cols-3"
        >
          {
            featuredEvents.map((event: EventProps) =>
              !event.polaroid ? (
                <img
                  src={event.image}
                  alt={event.alt}
                  width={800}
                  height={800}
                  class={`fade-up block aspect-square ${event.order ?? ""}`}
                />
              ) : (
                <div
                  class={`fade-up mx-auto border-2 border-gray-300 bg-white p-1 sm:max-w-[20rem] ${event.order ?? ""}`}
                >
                  <div class="relative mx-auto mb-4 aspect-[17/19] overflow-hidden bg-black">
                    <img
                      src={`/pageant/${event.image}`}
                      width={800}
                      height={800}
                      alt={event.alt}
                      class="h-full w-full object-cover transition-transform duration-300 hover:scale-105"
                    />
                  </div>
                </div>
              )
            )
          }
        </div>
        <div
          class="fade-up mx-auto mb-12 w-full max-w-5xl rounded-lg bg-gradient-to-r from-purple-700 via-purple-600 to-indigo-800 p-8 text-center text-white backdrop-blur-sm"
        >
          <h2 class="text-lg uppercase tracking-wide">
            2024-2025 Choctaw Indian Princess
          </h2>
          <h1 class="mt-2 text-4xl font-extrabold sm:text-5xl md:text-6xl">
            Leilani Elyse Allen
          </h1>
        </div>
      </div>
    </section>

    {/* Pageant Contestants */}
    <section id="mens" class="py-12 md:py-24">
      <div class="container mx-auto px-4 text-center">
        <h2
          class="text-3xl font-bold tracking-tighter text-white sm:text-4xl md:text-5xl"
        >
          Pageant Contestants
        </h2>
        {/* Placeholder text for Bracket Coming Soon */}
        <p class="mt-4 text-lg text-white">Contestants Coming Soon</p>
        <div
          class="mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
          {
            Array.from({ length: 8 }).map((_, i) => (
              <div class="space-y-2">
                <Skeleton className="h-48 w-full rounded-lg" />
                <Skeleton className="h-4 w-3/5 mx-auto rounded" />
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </div></Layout
>
