---
const { title, description } = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="icon" href="/favicon.ico" />
<link rel="stylesheet" href="/global.css" />

export default BaseHead;
