---

---

<div
  class="w-screen h-[calc(100vh-96px)] bg-animate flex items-center justify-center p-4"
>
  <div class="w-full max-w-6xl">
    <div class="flex flex-col lg:flex-row items-center justify-between gap-8">
      <div class="w-full lg:w-1/2">
        <img
          src="/cif-2025/fairlogo.webp"
          alt="Choctaw Indian Fair"
          width="500"
          height="300"
          class="w-full max-w-[500px] h-auto mx-auto"
        />
      </div>
      <div class="w-full lg:w-1/2 text-center lg:text-left text-white bg-black/30 p-8 rounded-lg">
        <h1
          class="text-4xl font-bold tracking-tight sm:text-6xl lg:text-7xl font-raleway"
        >
          Save the Date
        </h1>
        <p class="mt-4 text-xl">
          Join us for the 75th Choctaw Indian Fair on <br/>July 8-12, 2025.
        </p>
      </div>
    </div>
  </div>
</div>
