---

---

<div
  class="bg-animate flex h-[calc(100vh-96px)] w-screen items-center justify-center p-4"
>
  <div class="w-full max-w-6xl">
    <div class="flex flex-col items-center justify-between gap-8 lg:flex-row">
      <div class="w-full lg:w-1/2">
        <img
          src="/fairlogo.webp"
          alt="Choctaw Indian Fair"
          width="500"
          height="300"
          class="mx-auto h-auto w-full max-w-[500px]"
          loading="lazy"
        />
      </div>
      <div
        class="w-full rounded-lg bg-black/30 p-8 text-center text-white lg:w-1/2 lg:text-left"
      >
        <h1
          class="font-roboto text-4xl font-bold tracking-tight sm:text-6xl lg:text-7xl"
        >
          Save the Date
        </h1>
        <p class="mt-4 text-xl">
          Join us for the 75th Choctaw Indian Fair on <br />July 8-12, 2025.
        </p>
      </div>
    </div>
  </div>
</div>
