---
import "../styles/global.css";
import { GoogleAnalytics } from "astro-google-analytics";
import { Navbar } from "@/components/Navbar";
import Footer from "@/components/Footer.astro";
import AnnouncementDialog from "@/components/Announcement.tsx";
import type { AnnouncementSlide } from "@/components/Announcement.tsx";
import { Button } from "@/components/ui/button";
// define an array of slides (images or text)
// @ts-ignore
const slides: AnnouncementSlide[] = [
  // {
  //   content: "Bad weather alert",
  // },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Join us at the annual Choctaw Indian Fair celebrating Native American culture with arts, crafts, food, dance, and music."
    />
    <meta
      name="keywords"
      content="Choctaw, Native American fair, arts and crafts, cultural festival, dance, music, food"
    />
    <meta
      name="author"
      content="Native Consulting Services – https://nativeconsult.io"
    />
    <meta property="og:title" content="Choctaw Indian Fair" />
    <meta
      property="og:description"
      content="Join us at the annual Choctaw Indian Fair celebrating Native American culture with arts, crafts, food, dance, and music."
    />
    <meta
      property="og:image"
      content="https://choctawindianfair.com/meta.webp"
    />
    <meta property="og:url" content="https://choctawindianfair.com" />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/png" href="/navlogo.webp" />
    <title>Choctaw Indian Fair</title>
    <GoogleAnalytics id="G-GHD6P2KR7E" />
    <script
      async
      referrerpolicy="no-referrer-when-downgrade"
      src="https://tag.simpli.fi/sifitag/fec11bc9-9b2e-45c6-8452-ca99d2b4eae2"
    ></script>
  </head>
  <body class="bg-gradient-to-r from-stone-900 via-stone-700 to-stone-950">
    <!-- <AnnouncementDialog client:load slides={slides as AnnouncementSlide[]} /> -->
    <Navbar client:load />
    <slot />
    <Footer />
  </body>
</html>
