---
import Layout from "../../layouts/Layout.astro";
import PageBanner from "../../components/PageBanner.tsx";
import EventsTable from "../../components/EventsTable.astro";
---

<Layout title="Events | Choctaw Indian Fair">
  <div class="bg-animate p-4">
    <div class="max-w-7xl mx-auto">
      <PageBanner
        desktop="events-banner01"
        mobile="events-banner02"
        client:load
      />
      <EventsTable />
    </div>
  </div>
</Layout>
