---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Events | Choctaw Indian Fair">
  <div class="bg-animate p-4">
    <div class="max-w-7xl mx-auto">
      <img
        src="/events-banner01.webp"
        width={1920}
        height={1080}
        alt="Events"
        class="hidden lg:block"
      />
      <img
        src="/events-banner02.webp"
        width={1080}
        height={1920}
        alt="Events"
        class="block lg:hidden"
      />
    </div>
  </div>
</Layout>
