<!-- ---
import Layout from "../../layouts/Layout.astro";
import PageBanner from "../../components/PageBanner.tsx";
---

<Layout title="Events | Choctaw Indian Fair">
  <div class="bg-animate p-4">
    <PageBanner
      desktop="events-banner01"
      mobile="events-banner02"
      client:load
    />
  </div>
</Layout> -->
